:root {
    --primary-color: #333333;
    --secondary-color: #E54641;
    --text-color-white: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("./assets/paper__texture__bg__100.png");
    background-blend-mode: multiply;
}

header, main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3rem;
}

@media (max-width: 999px) {
    header, main {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }
}


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    text-align: justify;
}

a {
    text-decoration: none;
}

.section {
    padding: 1rem;
}

/* NAVBAR */

header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem auto;
}

.nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 .5rem;
}

.nav__logo {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.nav__logo h2 {
    padding-left: .5rem;
}

.nav__logo__image {
    width: 4rem;
    height: auto;
}

.nav__menu {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__menu__items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: bold;
}

.nav__menu__item {
    width: fit-content;
    padding: 0 1rem;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
}

.cta {
    background-color: var(--secondary-color);
    border: 1px solid #E54641;
    border-radius: 4px;
    margin-left: 0.725rem;
}

.cta a {
    color: var(--text-color-white);
}

.toggle-button {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 5vh;
    height: 2rem;
}

.toggle-button .bar {
    height: .2rem;
    width: 100%;
    background-color: #333333;
    border-radius: 3px;
}

@media (max-width: 999px) {
    h2 {
        font-size: 1.25rem;
    }

    .toggle-button {
        display: flex;
    }

    .nav__menu {
        display: none;
        width: 100%;
        position: absolute;
        top: 3rem;
        background-color: rgba(236, 236, 236, 0.9);
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__menu__items {
        flex-direction: column;
        width: 100%;
    }

    .nav__menu.active {
        display: flex;
    }

    .nav__menu__items {
        padding: 1rem 0;
    }
}

/* HERO SECTION */

.hero {
    height: 85vh;
    display: flex;
    align-items: center;
}

.hero__text {
    flex-basis: 50%;
}

.hero__text p {
    font-size: 1.5rem;
}

.hero__text__description {
    padding: 1rem 0;
}

.text--highlight {
    color: var(--secondary-color);
    font-size: 3rem;
}

.hero__image {
    flex-basis: 50%;
    display: flex;
    animation: spin 8s ease-in;
}

.hero__image__vinyl {
    max-width: 520px;
    margin: 0 auto;
}

.hero__text__form {
    background-color: var(--secondary-color);
    border: 1px solid #E54641;
    border-radius: 4px;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    width: fit-content;
    font-weight: bold;
}

.hero__text__form a {
    color: var(--text-color-white);
}

@media only screen and (max-width: 999px) {
    .hero {
        flex-direction: column;
    }
}

/* ABOUT */

.about {
    text-align: center;
    padding: 5rem 0;
}

.about__text {
    max-width: 60%;
    margin: 0 auto;
}

.about__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    max-width: 80%;
    margin: 0 auto;
}

.about__logo img {
    max-width: 200px;
}

@media only screen and (max-width: 999px) {
    .about__logos {
        flex-direction: column;
    }
}

/* SIGNUP */

.signup {
    background-color: var(--secondary-color);
    min-width: 100%!important;
    text-align: center;
    padding: 3rem 0;
}

.signup__text {
    max-width: 50%;
    margin: 0 auto;
    color: var(--text-color-white);
    padding: 1.5rem 0;
}

.signup__embed {
    background-image: url("./assets/brush-stroke.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.signup__form {
    padding: 1.025rem 0 .6rem;
    margin: 3rem auto;
    position: relative;
    width: 60%;
}


/* FAQ */

#faq {
    min-width: 80%!important;
    height: 100vh;
    margin: 0 auto;
    padding: 3rem 0;
}

.faq__header {
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.faq {
    max-width: 640px;
    margin: 0 auto;;
    margin-top: 2rem;
    padding-bottom: .25rem;
    border-bottom: 2px solid #333;
    cursor: pointer;
}

.faq__questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__answers {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq__answers p {
    padding: 1rem 0 1.5rem;
    line-height: 1.5rem;
}

.faq.active .faq__answers {
    max-height: fit-content;
    animation: fade .5s ease-in-out;
}

.faq.active .faq__questions span {
    transform: rotate(180deg);
}

.faq__questions span {
    transition: transform 0.5s ease-in;
}

/* ANIMATIONS */

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(-0px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}